<template>
<v-card>
  <v-card-text>
    <form @submit.prevent="update" @keydown="form.onKeydown($event)">
      <v-alert v-if="form.successful">{{ $t('password_updated') }}</v-alert>

      <!-- Password -->
      
      <v-text-field v-model="form.password" type="password" :label="$t('new_password')"></v-text-field>
      <v-text-field v-model="form.password_confirmation" type="password" :label="$t('confirm_password')"></v-text-field>

      <!-- Submit Button -->
      
      <v-btn :loading="form.busy" type="success" dark color="green">{{ $t('update') }}</v-btn>

    </form>
  </v-card-text>
</v-card>
</template>

<script>
import Form from 'vform'

export default {
  scrollToTop: false,

  head () {
    return { title: this.$t('settings') }
  },

  data: () => ({
    form: new Form({
      password: '',
      password_confirmation: ''
    })
  }),

  methods: {
    async update () {
      await this.form.patch('/settings/password')

      this.form.reset()
    }
  }
}
</script>
