<template>
  <v-card>
    <v-card-text>
      <form @submit.prevent="update" @keydown="form.onKeydown($event)">
        <v-layout row wrap>
          <alert-success :form="form" :message="$t('info_updated')"/>
          <v-flex xs12>
            <v-select :label="$t('user_type')" v-model="form.user_type_id" :items="[{text: $t('company'), value: 2}, {text: $t('person'), value: 1}]"></v-select>
          </v-flex>
          <template v-if="form.user_type_id == 1">
            <v-flex xs6 pr-3>
              <v-text-field v-model="form.first_name" :label="$t('first_name')"></v-text-field>
            </v-flex>
            <v-flex xs6>
              <v-text-field v-model="form.last_name" :label="$t('last_name')"></v-text-field>
            </v-flex>
          </template>
          <template v-else>
            <v-flex xs12>
              <v-text-field v-model="form.org_name" :label="$t('company_name')"></v-text-field>
            </v-flex>
          </template>
          <v-flex xs6 pr-3>
            <v-text-field v-model="form.profile_img" :label="$t('profile_img')"></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="form.facebook_url" :label="$t('facebook_url')"></v-text-field>
          </v-flex>
          <v-flex xs6 pr-3>
            <v-text-field v-model="form.twitter_url" :label="$t('twitter_url')"></v-text-field>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="form.linkedin_irl" :label="$t('linkedin_irl')"></v-text-field>
          </v-flex>
          
          <v-flex xs4 pr-3>
            <v-menu
              ref="menu"
              :close-on-content-click="true"
              v-model="dob"
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                v-model="form.dob"
                :label="$t('dob')"
                prepend-icon="event"
                readonly color="pink"
              ></v-text-field>
              <v-date-picker color="pink" v-model="form.dob" no-title scrollable  >
                <v-spacer></v-spacer>
                <v-btn flat color="pink" @click="project.dob = false">{{ $t('cancel') }}</v-btn>
              </v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex xs4 pr-3>
            <v-text-field v-model="form.email" type="email" :label="$t('email')"></v-text-field>
          </v-flex>
          <v-flex xs4>
            <v-text-field v-model="form.phone_number" :label="$t('phone_number')"></v-text-field>
          </v-flex>

          <v-flex xs6>
            <v-select v-model="form.bank_id" :label="$t('bank')" :items="banks"></v-select>
          </v-flex>
          <v-flex xs6>
            <v-text-field v-model="form.account_no" :label="$t('account_no')" counter="15" maxlength="11" type="number"></v-text-field>
          </v-flex>

          <v-flex xs4>
            <v-btn block color="green" dark :loading="form.busy" type="success">{{ $t('update') }}</v-btn>
          </v-flex>
        </v-layout>
      </form>
    </v-card-text>
  </v-card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'

export default {
  scrollToTop: false,

  head () {
    return { title: this.$t('settings') }
  },

  data: () => ({
    form: new Form({
      user_type_id: null,
      org_name: '',
      last_name: '',
      first_name: '',
      profile_img: '',
      facebook_url: '',
      twitter_url: '',
      linkedin_url: '',
      dob: '',
      bank_id: null,
      account_no: null,
      phone_number: null,
      email: ''
    }),
    dob: null,
    banks: [
      { text: 'Хаан банк', value: 1},
      { text: 'Хас банк', value: 2},
      { text: 'Худалдаа хөгжлийн банк', value: 3},
      { text: 'Голомт банк', value: 4},
      { text: 'Төрийн банк', value: 5},
      { text: 'Улаанбаатар хотын банк', value: 6},
      { text: 'Капитал банк', value: 7},
      { text: 'Капитрон банк', value: 8},
      { text: 'Ариг банк', value: 9},
      { text: 'Чингис хаан банк', value: 10},
      { text: 'Үндэсний хөрөнгө оруулалтын банк', value: 11},
      { text: 'Кредит банк', value: 12},
      { text: 'Тээвэр хөгжлийн банк', value: 13},
      { text: 'Богд банк', value: 14}
    ]
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    // Fill the form with user data.
    this.form.keys().forEach(key => {
      this.form[key] = this.user[key]
    })
    console.log(this.form)
  },

  methods: {
    async update () {
      const { data } = await this.form.patch('/settings/profile')

      this.$store.dispatch('auth/updateUser', { user: data })
    }
  }
}
</script>
