<template>
  <v-toolbar color="pink--text" fixed>
    <v-toolbar-title color="black"><router-link to="/">{{ appName }}</router-link></v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn :to="{ name: 'explore' }" flat color="pink">{{ $t('explore') }}</v-btn>
      <v-menu offset-y>
        <v-btn flat
          slot="activator">
          <v-icon color="pink">language</v-icon>
          <v-icon color="pink">arrow_drop_down</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile @click="setLocale('mn')">
            <v-list-tile-title>MN</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="setLocale('en')">
            <v-list-tile-title>EN</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <template v-if="!user">
        <v-btn :to="{ name: 'login' }" flat color="pink">{{ $t('login') }}</v-btn>
      </template>
      <template v-else>
        <v-menu offset-y>
          <v-btn flat
            slot="activator">
            <v-icon color="pink">person_outline</v-icon>
            <v-icon color="pink">arrow_drop_down</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile :to="{ name: 'dashboard' }">
              <v-list-tile-title>{{ $t('dashboard') }}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="logout">
              <v-list-tile-title class="logout-btn">{{ $t('logout') }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </template>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import { mapGetters } from 'vuex'
import { loadMessages } from '~/plugins/i18n'

export default {
  components: {
  },

  data: () => ({
    appName: process.env.appName
  }),

  computed: mapGetters({
    user: 'auth/user',
    locale: 'lang/locale',
    locales: 'lang/locales'
  }),

  methods: {
    async logout () {
      // Log out the user.
      await this.$store.dispatch('auth/logout')

      // Redirect to login.
      this.$router.push({ name: 'login' })
    },
    setLocale (locale) {
      if (this.$i18n.locale !== locale) {
        loadMessages(locale)
        this.$store.dispatch('lang/setLocale', { locale })
      }
    }
  }
}
</script>

<style scoped>
.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -.375rem 0;
}

.v-toolbar__title a{
  text-decoration: none;
  color: inherit;
}

.logout-btn{
  cursor: pointer;
}
</style>
