<template>
  <v-form>
    <v-layout align-content-center justify-center>
      <v-flex lg4 md4 sm6 xs12>
        <v-card>
          <v-card-title><h2>{{ $t('login') }}</h2></v-card-title>
          <v-card-text>
            <form @submit.prevent="login" @keydown="form.onKeydown($event)">

              <v-text-field autofocus v-model="form.email" color="blue" required 
              :class="{ 'is-invalid': form.errors.has('email') }" type="email" :label="$t('email')"/>

              <v-text-field v-model="form.password" color="blue" required 
              :class="{ 'is-invalid': form.errors.has('password') }" type="password" :label="$t('password')"/>

              <v-layout justify-center align-content-center>
                <v-flex>
                  <v-checkbox color="blue" v-model="remember" :label="$t('remember_me')" name="remember"></v-checkbox>
                </v-flex>
                <v-flex>
                  <router-link :to="{ name: 'password.request' }" class="small ml-auto my-auto">
                    {{ $t('forgot_password') }}
                  </router-link>
                </v-flex>
              </v-layout>

              <v-layout justify-center>
                <!-- Submit Button -->
                <v-btn type="submit" color="blue white--text" :loading="form.busy">
                  {{ $t('login') }}
                </v-btn>
                <v-btn :to="{ name: 'register' }" color="green white--text">
                  {{ $t('register') }}
                </v-btn>
              </v-layout>
            </form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import Form from 'vform'
import Vuelidate from 'vuelidate'

export default {
  head () {
    return { title: this.$t('login') }
  },

  data: () => ({
    form: new Form({
      email: '',
      password: ''
    }),
    remember: false
  }),

  methods: {
    async login () {
      // Submit the form.
      const { data } = await this.form.post('/login')

      // Save the token.
      this.$store.dispatch('auth/saveToken', {
        token: data.token,
        remember: this.remember
      })

      // Fetch the user.
      await this.$store.dispatch('auth/fetchUser')

      // Redirect home.
      this.$router.push({ name: 'dashboard' })
    }
  }
}
</script>
