<template>
<v-container>
  <v-layout row wrap>
    <v-flex xs3>
      <v-layout class="pr-3" column>
        <v-flex>
          <v-select v-model="filterValues.type" :label="$t('fund_type')" color="pink" :items="filter.typeSelect"></v-select>
        </v-flex>
      
        <v-flex>
          <v-menu
            ref="menu"
            :close-on-content-click="false"
            v-model="filter.startDateMenu"
            :nudge-right="40"
            :return-value.sync="filter.startDate"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <v-text-field
              slot="activator"
              v-model="filter.startDate"
              :label="$t('start_date')"
              prepend-icon="event"
              readonly color="pink"
            ></v-text-field>
            <v-date-picker color="pink" v-model="filter.startDate" no-title scrollable  >
              <v-spacer></v-spacer>
              <v-btn flat color="pink" @click="filter.startDateMenu = false">{{$t('cancel')}}</v-btn>
              <v-btn flat color="pink" @click="$refs.filter.startDateMenu.save(filter.startDate)">{{$t('ok')}}</v-btn>
            </v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex>
          <v-menu
            ref="menu"
            :close-on-content-click="false"
            v-model="filter.endDateMenu"
            :nudge-right="40"
            :return-value.sync="filter.endDate"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <v-text-field
              slot="activator"
              v-model="filter.endDate"
              :label="$t('end_date')"
              prepend-icon="event"
              readonly color="pink"
            ></v-text-field>
            <v-date-picker color="pink" v-model="filter.endDate" no-title scrollable  >
              <v-spacer></v-spacer>
              <v-btn flat color="pink" @click="filter.endDateMenu = false">{{$t('cancel')}}</v-btn>
              <v-btn flat color="pink" @click="$refs.filter.endDateMenu.save(filter.endDate)">{{$t('ok')}}</v-btn>
            </v-date-picker>
          </v-menu>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs9>
      <v-layout row wrap>
        <v-flex :key="project.id" v-for="project in projects" xs3>
          <v-card class="mr-2 mb-2">
            <v-img :src="project.thumbnail_img" width="100%"></v-img>
            <v-card-title data-background-color="blue">
              <h3 class="project-name">{{ project.name }}</h3>
              <span class="grey--text project-category">{{ project.relations.category.name }}</span>
            </v-card-title>
            <!-- <v-card-text>{{ project.description }}</v-card-text> -->
            <v-card-actions>
              <v-btn class="pink white--text" :to="{ name: 'project', params: { id: project.id } }">{{$t('read_more')}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import { mapGetters } from 'vuex'
const axios = require('axios')

export default {

  head () {
    return { title: this.$t('home') }
  },

  data: () => ({
    title: process.env.appName,
    projects: null,
    filter: {
      typeSelect: [
        { text: 'Зөвхөн заасан мөнгө хүртэл цуглуулах', value: true  },
        { text: 'Заасан мөнгөнөөс хэтэрч болох', value: false  }
      ],
      startDate: null,
      endDate: null,
      startDateMenu: null,
      endDateMenu: null,
    },
    filterValues: {
      type: null
    },
    date: new Date().toISOString().substr(0, 10),
  }),

  created(){
    this.loadProducts()
  },

  methods: {
    loadProducts(){
      axios.get(process.env.apiUrl+'/project')
        .then((response) => {
          this.projects = response.data.data;
          console.log(this.projects[0])
        })
        .catch(function (error) {
          console.log(error);
        })
    },
  },

  computed: mapGetters({
    authenticated: 'auth/check'
  })
}
</script>

<style scoped>
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.project-name{
  width: 100%;
}

.project-category{
  display: block;
  font-size: .8rem;
}

.title {
  font-size: 85px;
}
</style>
