<template>
  <v-container>
    <v-layout row wrap>
      <h2 class="pink--text py-2" style="width: 100%;">{{ $t('latest_projects') }}</h2>
      <v-flex xs3 v-for="project in latest" :key="'latest'+project.id" pa-1>
        <v-card>
          <v-card-title>
            <h5 class="title">{{ project.name }}</h5>
          </v-card-title>
          <v-img :src="project.thumbnail_img"></v-img>
          <v-card-text>
            <v-btn :to="{ name: 'project', params: { id: project.id } }" block color="pink" dark>{{ $t('read_more') }}</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap mt-4>
      <h2 class="green--text py-2" style="width: 100%;">{{ $t('highest_projects') }}</h2>
      <v-flex xs3 v-for="project in finished" :key="'latest'+project.id" pa-1>
        <v-card>
          <v-card-title>
            <h5 class="title" style="width: 100%;">{{ project.name }}</h5>
            <span>{{ project.goal_amount }}</span>
          </v-card-title>
          <v-img :src="project.thumbnail_img"></v-img>
          <v-card-text>
            <v-btn :to="{ name: 'project', params: { id: project.id } }" block color="pink" dark>{{ $t('read_more') }}</v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
const axios = require('axios')

export default {

  data: () => ({
    appName: process.env.appName,
    latest: [],
    finished: [],
    donations: []
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created(){
    this.loadData()
  },

  methods: {
    loadData(){
      axios.get(process.env.apiUrl+'/project/latest')
        .then((response) => {
          this.latest = response.data.data
        })
        .catch(function (error) {
          console.log(error)
        })
      axios.get(process.env.apiUrl+'/project/finished')
        .then((response) => {
          this.finished = response.data.data
        })
        .catch(function (error) {
          console.log(error)
        })
      
    }
  }
}
</script>

<style scoped>
.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -.375rem 0;
}

.v-toolbar__title a{
  text-decoration: none;
  color: inherit;
}

.logout-btn{
  cursor: pointer;
}
</style>
