<template>
  <v-app>
    <navbar/>
    <v-flex class="container mt-5">
      <nuxt/>
    </v-flex>
  </v-app>
</template>

<script>
import Navbar from '~/components/Navbar'

export default {
  components: {
    Navbar
  }
}
</script>
