<template>
<v-card>
  <v-snackbar
    v-model="errorSnackbar"
    bottom right
    :timeout="5000">
    {{ $t('complete_fields') }}
    <v-btn
      color="pink"
      flat
      @click="errorSnackbar = false">
      {{ $t('close') }}
    </v-btn>
  </v-snackbar>
  <v-snackbar
    v-model="successSnackbar"
    bottom right
    :timeout="5000">
    {{ $t('post_create_success') }}
    <v-btn
      color="pink"
      flat
      @click="errorSnackbar = false">
      {{ $t('close') }}
    </v-btn>
  </v-snackbar>
  <v-card-title><h2 class="display-1">{{ $t('create_project') }}</h2></v-card-title>
  <v-card-text v-if="categories != null">
    <v-layout row wrap>
      <v-flex xs12>
        <v-text-field v-model="project.name" color="pink" :label="$t('project_name')"></v-text-field>
      </v-flex>
      <v-flex xs6 pr-5>
        <v-select v-model="project.category_id" color="pink" :label="$t('project_category')" 
          :items="categories"></v-select>
      </v-flex>
      <v-flex xs6>
        <v-checkbox color="pink" v-model="project.is_fixed_goal" :label="$t('is_fixed')"></v-checkbox>
      </v-flex>
      <v-flex xs4 pr-5>
        <v-text-field color="pink" v-model="project.goal_amount" :label="$t('goal_amount')" type="number"></v-text-field>
      </v-flex>
      <v-flex xs4 pr-5>
        <v-menu
            ref="menu"
            :close-on-content-click="true"
            v-model="project.startDate"
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <v-text-field
              slot="activator"
              v-model="project.start_date"
              :label="$t('start_date')"
              prepend-icon="event"
              readonly color="pink"
            ></v-text-field>
            <v-date-picker color="pink" v-model="project.start_date" no-title scrollable  >
              <v-spacer></v-spacer>
              <v-btn flat color="pink" @click="project.startDate = false">{{ $t('cancel') }}</v-btn>
            </v-date-picker>
          </v-menu>
      </v-flex>
      <v-flex xs4>
        <v-menu
            ref="menu"
            :close-on-content-click="true"
            v-model="project.endDate"
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <v-text-field
              slot="activator"
              v-model="project.end_date"
              :label="$t('end_date')"
              prepend-icon="event"
              readonly color="pink"
            ></v-text-field>
            <v-date-picker color="pink" v-model="project.end_date" no-title scrollable  >
              <v-spacer></v-spacer>
              <v-btn flat color="pink" @click="project.endDate = false">{{ $t('cancel') }}</v-btn>
            </v-date-picker>
          </v-menu>
      </v-flex>
      <v-flex xs6 pr-5>
        <v-textarea color="pink" v-model="project.overview" counter="250" maxlength="250" :label="$t('project_overview')" rows="1"></v-textarea>
      </v-flex>
      <v-flex xs6>
        <v-textarea color="pink" v-model="project.description" counter="250" maxlength="250" :label="$t('project_description')" rows="1"></v-textarea>
      </v-flex>
      <v-flex xs12>
        <v-textarea color="pink" v-model="project.story" :label="$t('project_story')" rows="1"></v-textarea>
      </v-flex>
      <v-flex xs12>
        <v-text-field color="pink" v-model="project.thumbnail_img" :label="$t('project_img')"></v-text-field>
      </v-flex>
      <v-layout justify-center>
        <v-flex xs4>
          <v-btn block color="green" dark @click="storeProject">{{ $t('save') }}</v-btn>
        </v-flex>
      </v-layout>
    </v-layout>
  </v-card-text>
</v-card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
const axios = require('axios')

export default {
  scrollToTop: false,

  head () {
    return { title: 'Удирдлага' }
  },

  data: () => ({
    form: new Form({
      name: '',
      email: ''
    }),
    project: {
      name: null,
      category_id: null,
      is_fixed_goal: false,
      goal_amount: 0,
      start_date: null,
      end_date: null,
      startDate: null,
      endDate: null,
      description: null,
      overview: null,
      story: null,
      thumbnail_img: null,
    },
    categories: null,
    errorSnackbar: false,
    successSnackbar: false,
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    this.loadCategories()
  },

  methods: {
    loadCategories(){
      axios.get(process.env.apiUrl+'/category')
        .then((response) => {
          this.categories = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        })
    },
    
    storeProject(){
      if(this.project.name != null &&
        this.project.category_id != null &&
        this.project.goal_amount > 0 &&
        this.project.start_date != null &&
        this.project.end_date != null &&
        this.project.description != null &&
        this.project.overview != null &&
        this.project.story != null &&
        this.project.thumbnail_img != null){

        axios.post(process.env.apiUrl+'/project/'+this.user.id, this.project)
          .then((response) => {
            this.successSnackbar = true
            this.$router.push({ name: 'dashboard.projects' })
          })
          .catch(function (error) {
            console.log(error);
          })
      }else{
        this.errorSnackbar = true
      }
    }
  }
}
</script>
